{% extends 'base.html' %}
{% block title %}Request-Password-Reset{% endblock %}


{% block content %}
 <header class="bg-custom-header text-white text-center py-5">
        <div class="container">
            <!-- <img src="https://pics.craiyon.com/2023-07-15/dc2ec5a571974417a5551420a4fb0587.webp" alt="Profile Picture" class="rounded-circle mb-3 profile-pic"> -->
            <h1>Request Password Reset</h1>
            <p class="lead">This is Request Password Reset Page</p>
        </div>
    </header>

    <main class="container mt-5">
        
        <form class="auth-form" action="#" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Enter your email address:</label>
                <input type="email" class="form-control" id="email" name="email" required placeholder="Enter your email">
                <button type="submit" class="mt-2">Submit</button>
            </div>
            <a href="{% url 'signin' %}">Back to Login</a>
        </form>
        
    </main>
{% endblock %}


