{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">



    {% block styles %}
    {% endblock %}


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-custom fixed-top">
        <a class="navbar-brand text-white" href="{% url 'home' %}">My Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'home' %}">Home</a></li>
               
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'custom_change_password' %}">Change Password</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'tweet_list' %}">Your Blog</a></li>
                <!-- <li class="nav-item"><a class="nav-link text-white" href="{% url 'user-dashboard' %}"> Edit Profile</a></li> -->
                <!-- Somewhere in your base.html or dashboard template -->
                <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link text-white">View Profile</a></li>

               
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'signout' %}">Sign out</a></li>

                {% else %}
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'signup' %}">Signup</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'signin' %}">Signin</a></li>
                

                <li class="nav-item"><a class="nav-link text-white" href="{% url 'about' %}">About</a></li>
                <!-- <li class="nav-item"><a class="nav-link text-white" href="{% url 'home' %}">Blog</a></li> -->
               
                
                {% endif %}
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'contact' %}">Contact</a></li>


            </ul>
        </div>
    </nav>


    {% block content %}
    {% endblock %}


    <footer class="bg-dark text-white text-center py-4">
        <p>&copy; 2024 My Blog. All rights reserved.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'scripts.js' %}"></script>

    

    {% block scripts %}
    {% endblock %}


</body>
</html>